/*listes*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-size: large;
}
body #fond {
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
}
body h1 {
  font-family: "Roboto-medium";
  font-size: x-large;
  margin: 26px 22px;
}
body ul {
  list-style-type: none;
}
body a {
  text-decoration: none;
  color: black;
}
body h2 {
  font-family: "Roboto-medium";
  font-size: 18px;
  margin: 5px 0px;
}
body i {
  font-size: larger;
}

#logo {
  width: 50%;
  margin: 15px;
}
@media screen and (min-width: 590px) {
  #logo {
    width: 300px;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}
header #sub_header {
  background-color: rgb(246, 246, 246);
  width: 100%;
}
header #sub_header #localisation {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #e9e9e9;
  box-shadow: inset 0px 15px 5px -11px rgba(208, 208, 208, 0.86);
  color: rgba(0, 0, 0, 0.75);
  padding: 6px 0px 0px;
}
header #sub_header #localisation i {
  padding-bottom: 10px;
}
header #sub_header #localisation p {
  margin-left: 13px;
  font-weight: bold;
}
header #sub_header #reservation {
  text-align: center;
  margin: 52px 0px;
}
header #sub_header #reservation h1 {
  margin: 0% 20%;
}
header #sub_header #reservation p {
  margin: 22px 13px;
  color: rgba(0, 0, 0, 0.75);
}
header #sub_header #reservation input {
  color: white;
  border-radius: 36px;
  width: 250px;
  height: 58px;
  background: linear-gradient(351deg, #9356DC 0%, #FF79DA 100%);
  border: none;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}
header #sub_header #reservation input:hover {
  filter: brightness(1.25);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.34);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
}
@media screen and (min-width: 590px) and (max-width: 985px) {
  body {
    width: 985px;
  }
}
@media screen and (min-width: 1190px) {
  body {
    width: 100%;
  }
}
body #bloc_page {
  width: 100%;
}
@media screen and (min-width: 1190px) {
  body #bloc_page {
    width: 1185px;
  }
}

header {
  background-color: white;
}
header #back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
header #back i {
  font-size: xx-large;
}
@media screen and (min-width: 590px) {
  header #back i {
    position: absolute;
    top: 4%;
    left: 6%;
  }
}
@media screen and (min-width: 1190px) {
  header #back i {
    position: relative;
    left: -142px;
  }
}
header #back #logo {
  margin: 18px 15% 18px;
}
header .cadre_img {
  width: 100%;
  overflow: hidden;
  height: 250px;
}
header .cadre_img .img {
  width: 100%;
  height: 238px;
}
@media screen and (min-width: 590px) {
  header .cadre_img .img {
    height: 497px;
    transform: translateY(-177px);
  }
}
header .cadre_img .img_mod {
  width: 100%;
  height: 420px;
  transform: translateY(-82px);
}
@media screen and (min-width: 590px) {
  header .cadre_img .img_mod {
    height: 594px;
    transform: translateY(-146px);
  }
}

main {
  background-color: rgb(246, 246, 246);
  border-radius: 50px 47px 0px 0px;
  position: relative;
  padding-bottom: 60px;
  top: -99px;
  margin-bottom: -99px;
}
@media screen and (min-width: 590px) {
  main {
    border-radius: initial;
  }
}
main .titreR {
  display: flex;
  align-items: center;
  font-size: x-large;
  justify-content: space-between;
  padding-top: 23px;
}
main .titreR h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  margin: 20px 25px 0px;
}
main .titreR .custom-checkbox {
  position: relative;
  width: 36px;
  margin: 0% 6% 3% 0%;
}
@media screen and (min-width: 590px) {
  main .section {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 590px) {
  main .section section {
    width: 33%;
  }
}
main .section section .titreS {
  margin: 30px 19px 0px;
  font-size: large;
  text-transform: uppercase;
  font-family: "Roboto-thin";
  font-weight: bold;
}
main .section section .barre {
  background-color: #99E2D0;
  width: 48px;
  height: 4px;
  margin: 3px 20px 25px;
}
main .button {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
main .button input {
  color: white;
  border-radius: 36px;
  width: 250px;
  height: 58px;
  background: linear-gradient(351deg, #9356DC 0%, #FF79DA 100%);
  border: none;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
main .button input:hover {
  filter: brightness(1.25);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.34);
}

footer {
  background-color: #373737;
  color: white;
  padding: 23px 28px;
}
footer h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: larger;
  font-weight: normal;
}
footer ul {
  padding-left: 0%;
}
footer ul li {
  margin-bottom: 7px;
}
footer ul li a {
  color: white;
}
footer ul li a i {
  font-size: small;
  margin-right: 10px;
}
footer ul li a .fa-utensils {
  margin-right: 15px;
}

.inputH {
  position: absolute;
  transform: scale(1.5);
  z-index: 1;
  opacity: 0;
  left: 5px;
  top: 3px;
  cursor: pointer;
}

.custom-checkbox .checked {
  position: absolute;
  transform: scale(0);
  transform-origin: bottom;
  transition: all 1000ms ease-in-out;
  background: linear-gradient(#9c47fc, #356ad2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.unchecked {
  position: absolute;
}

.custom-checkbox input:checked ~ .checked {
  display: inline-block;
  transform: scale(1);
  background: linear-gradient(#9c47fc, #356ad2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-checkbox input:checked ~ .unchecked {
  display: none;
}

@keyframes progression {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
  }
}
.prg1 {
  animation: progression 1s both;
}

.prg2 {
  animation: progression 2s both;
}

.prg3 {
  animation: progression 3s both;
}

.prg4 {
  animation: progression 4s both;
}

.prg5 {
  animation: progression 5s both;
}

.prg6 {
  animation: progression 6s both;
}

.prg7 {
  animation: progression 7s both;
}

.prg8 {
  animation: progression 8s both;
}

.prg9 {
  animation: progression 9s both;
}

.prg10 {
  animation: progression 10s both;
}

@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-medium";
  src: url("../polices/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-thin";
  src: url("../polices/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Shrikhand";
  src: url("../polices/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
  font-weight: normal;
}
.choix {
  display: flex;
  background-color: white;
  border-radius: 20px;
  margin: 0px 15px 13px;
  height: 85px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
@media screen and (min-width: 590px) {
  .choix {
    padding-right: 15px;
    height: 90px;
  }
}
.choix .inputC {
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  z-index: 1;
}
.choix .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}
.choix .text p, .choix .text h2 {
  margin: 5px 0px 0px 19px;
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (min-width: 590px) {
  .choix .text p, .choix .text h2 {
    width: 88%;
  }
}
.choix .text p:not(.prix) {
  font-family: "Roboto-thin";
  font-weight: bold;
  font-size: medium;
}
.choix .text .prix {
  font-size: medium;
  margin: 30px 20px 0px 0px;
  font-weight: bold;
  width: 33px;
}
@media screen and (min-width: 590px) {
  .choix .text .prix {
    margin: 10px 0px 0px 19px;
  }
}
.choix .checked {
  transition: 200ms linear;
  width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.choix .checked .cercle {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choix .checked .cercle .fleche {
  border: 3px #99E2D0;
  border-style: none none solid solid;
  height: 8px;
  width: 13px;
  transform: rotate(-47deg);
  margin-bottom: 2px;
}
.choix input:checked ~ .checked {
  background: #99E2D0;
  width: 70px;
  height: 100%;
  opacity: 1;
}
@media screen and (min-width: 590px) {
  .choix input:checked ~ .checked {
    margin-right: -16px;
  }
}
.choix input:checked ~ .checked .fleche {
  animation: fleche 250ms both;
}

@keyframes fleche {
  from {
    transform: rotate(-900deg);
  }
  to {
    transform: rotate(-47deg);
  }
}

/*# sourceMappingURL=stylesR.css.map */
