@import "./partials/base/bases";
@import "./partials/utils/variables";
@import "./partials/utils/mixins";
@import "./partials/layouts/logo";
@import "./partials/layouts/header";
@import "./scssR/headerR";
@import "./scssR/mainR";
@import "./partials/layouts/footer";
@import "./partials/layouts/heart";
