@import "./partials/utils/variables";
@import "./partials/utils/mediaQueries";
@import "./partials/base/bases";
@import "./partials/utils/mixins";
@import "./partials/layouts/logo";
@import "./partials/layouts/header";
@import "./partials/pages/nav";
@import "./partials/pages/main";
@import "./partials/pages/positionIMG";
@import "./partials/layouts/footer";
@import "./partials/layouts/heart";
@import "./partials/utils/polices";
@import "./partials/pages/loader";
