$breakpoints:
(
    tablette: 590px,
    pc: 1190px,
    section: 985px,
);

@mixin tablette
{
    @media screen and (min-width: map-get($breakpoints, tablette))
    {
        @content;
    }
}

@mixin pc
{
    @media screen and (min-width: map-get($breakpoints, pc))
    {
        @content;
    }
}

@mixin section
{
    @media screen and (min-width: map-get($breakpoints, tablette)) and (max-width: map-get($breakpoints, section))
    {
        @content;
    }
}

