@mixin position-inHead 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin button ($width: $width-b, $deg: $deg-b)
{
    color: white;
    border-radius: 36px;
    width: $width;
    height: 58px;
    background: linear-gradient($deg, $colorP 0%, #FF79DA 100%);
    border: none; 
    cursor: pointer;
    box-shadow: $shadow;
}

@mixin chiffres 
{
   background-color: $colorP;
   color: white;
   border-radius: 50%;
   font-size: medium;
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
}