@font-face 
{
    font-family: "Roboto";
    src: url("../polices/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face 
{
    font-family: "Roboto-medium";
    src: url("../polices/Roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: normal;
}

@font-face 
{
    font-family: "Roboto-thin";
    src: url("../polices/Roboto/Roboto-Thin.ttf") format("truetype");
    font-weight: normal;
}


@font-face 
{
    font-family: "Shrikhand";
    src: url("../polices/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
    font-weight: normal;
}