$size-logo: 50%;
$weight: bold;
$width-b: 250px;
$colorP: #9356DC;
$deg-b: 351deg;
$deg-c: 180deg;
$bottom-s: 45px;
$colorN: #99E2D0;

/*listes*/

$colorS: rgb(246, 246, 246);
$shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
$positionIMG: translate(0px, -22%);