header
{
    @include position-inHead;
    margin-bottom: $bottom-s;

    & #sub_header
    {
        background-color: $colorS;
        width: 100%;

        & #localisation
        {
            @include position-inHead;
            flex-direction: row;
            justify-content: center;
            background-color: darken($colorS, 5);
            box-shadow: inset 0px 15px 5px -11px rgba(208,208,208,0.86);
            padding-right: 8% ;
        
            & p 
            {
                margin-left: 6%; 
                font-weight: $weight;
            } 
        }

        & #reservation
        {
            text-align: center;
            margin: 12% 0%;

            & h1
            {
                width: 68%;
                margin-left: 12%;
            }

            & p
            {
                margin: 0% 3%;
            }

            & input
            {
                @include button;
                margin-top: 5%;

                &:hover
                {
                    filter: brightness(1.25);
                    box-shadow: 0px 8px 15px rgb(0% 0% 0% / 34%);
                }
            }
        }
    }
}

