header
{
    @include position-inHead;
    margin-bottom: $bottom-s;

    & #sub_header
    {
        background-color: $colorS;
        width: 100%;

        & #localisation
        {
            @include position-inHead;
            flex-direction: row;
            justify-content: center;
            background-color: darken($colorS, 5);
            box-shadow: inset 0px 15px 5px -11px rgba(208,208,208,0.86);
            color: rgba(0,0,0,0.75);
            padding: 6px 0px 0px;

            & i
            {
                padding-bottom: 10px;
            }
        
            & p 
            {
                margin-left: 13px; 
                font-weight: $weight;
            } 
        }

        & #reservation
        {
            text-align: center;
            margin: 52px 0px;

            & h1
            {
                margin: 0% 20%;
            }

            & p
            {
                margin: 22px 13px;
                color: rgba(0,0,0,0.75);
            }

            & input
            {
                @include button;
                margin-top: 15px;

                &:hover
                {
                    filter: brightness(1.25);
                    box-shadow: 0px 8px 15px rgb(0% 0% 0% / 34%);
                }
            }
        }
    }
}

