@mixin cercle
{
  position: absolute;
  border: solid 5px;
  border-bottom-right-radius: 200px;
  border-bottom-left-radius: 200px;
  transform-origin: 50% 0%;
  border-top: none;
}

#bloc_page
{
    width: 100%;
    background-color: #ffff;
    top: 0px;
    animation: page 0ms 3s both;
    position: absolute;
    top: 0px;
    @include pc
    {
      width: 1185px;
    }
}

#loader 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient($deg-b, $colorP 0%, #FF79DA 100%);
    height: 100vh;
    width: 100%;
    overflow: hidden;

    & h1 
    {
    position: relative;
    margin: 0 auto;
    top: -25vh;
    width: 100vw;
    text-align: center;
    font-family: "Shrikhand";
    font-size: 6vh;
    color: black;
    opacity: .75;
    animation: pulse 2.5s linear infinite;
    padding: 0px 60px;
    }

    & .cercle_1 
    {
      @include cercle;
      height: 89px;
      width: 178px;
      animation: 6s linear infinite rotate;
      color: #278870;
      bottom: 283px;
    }
  
    & .cercle_2 
    {
      @include cercle;
      height: 79px;
      width: 162px;
      animation: 5s linear infinite rotateR;
      color: #99e2d0;
      bottom: 293px;
    }
  
    & .cercle_3 
    {
      @include cercle;
      height: 69px;
      width: 140px;
      animation: 4s linear infinite rotate;
      color: #278870;
      bottom: 303px;
    }
  
    & .cercle_4 
    {
      @include cercle;
      height: 59px;
      width: 117px;
      animation: 3s linear infinite rotateR;
      color: #99e2d0;
      bottom: 313px;
    }
  
    & .cercle_5 
    {
      @include cercle;
      height: 49px;
      width: 96px;
      animation: 2s linear infinite rotate;
      color: #278870;
      bottom: 323px;
    }
    
    & .cercle_6 
    {
      @include cercle;
      height: 39px;
      width: 78px;
      animation: 1s linear infinite rotateR;
      color: #99e2d0;
      bottom: 333px;
    }

}

@keyframes pulse 
{
  0% 
  {
    transform: scale(1, 1);
    opacity: .25;
  }
  50% 
  {
    transform: scale(1.2, 1);
    opacity: 1;
  }
  100% 
  {
    transform: scale(1, 1);
    opacity: .25;
  }
}


@keyframes page 
{
    0%
    {
        transform: translateX(-9999px);
        height: 0px;
        overflow: hidden;
    }    

    100%
    {
        transform: translate(0px);
    }
}

@keyframes rotate 
{
  from 
  {
    transform: rotate(0deg);
  }
  to 
  {
    transform: rotate(360deg);
  }
}

@keyframes rotateR 
{
  from 
  {
    transform: rotate(360deg);
  }
  to 
  {
    transform: rotate(0deg);
  }
}