main
{
    background-color: $colorS;
    padding: 20px 0px 35px;

    & section
    {
        margin: 13px;

        & .custom-checkbox
        {
            position: absolute;
            left: 82%;
            height: 40px;
            z-index: 1;
            margin-top: 231px;
            font-size: x-large;
        }

        & .carte
        {
            background-color: white;
            box-shadow: 3px 3px 20px rgba(0, 0, 0, .1);
            margin: 2%;
            border-radius: 17px;
            margin-bottom: 5%;
            height: 295px;

            & .cadre_img
            {
                overflow: hidden;
                height: 208px;
                border-radius: 13px 13px 0px 0px; 
                display: flex;
                justify-content: end;
            }

            & .body
            {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: 62px;
                justify-content: center;
                margin: 9px 22px; 

                & p
                {
                    font-family: "Roboto-Thin";
                    margin: 0%;
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
    }
}

.new
{
    z-index: 1;
    width: 100px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    position: absolute;
    background-color: $colorN;
    color: darken($colorN, 40);
    margin-right: 20px;
    font-weight: bold;
}