main
{
    background-color: $colorS;
    padding: 20px 0px 35px;

    & section
    {
        margin: 13px;
        @include tablette
        {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            height: 650px;
            padding-left: 2%
        }

        & .custom-checkbox
        {
            position: relative;
            font-size: x-large;
            top: 236px;
            margin: 0% 89%;
            @include tablette
            {
                margin: 0% 85%;
            }

        }

        & .carte
        {
            background-color: white;
            box-shadow: 3px 3px 20px rgba(0, 0, 0, .1);
            margin: 15px 5px;
            border-radius: 17px;
            height: 295px;
            @include tablette
            {
                width: 47%;
            }

            & .cadre_img
            {
                overflow: hidden;
                height: 208px;
                border-radius: 13px 13px 0px 0px; 
                display: flex;
                justify-content: end;
            }

            & .body
            {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: 62px;
                justify-content: center;
                margin: 9px 22px; 

                & p
                {
                    font-family: "Roboto-Thin";
                    margin: 0%;
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
    }
}

.new
{
    z-index: 1;
    width: 100px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    position: absolute;
    background-color: $colorN;
    color: darken($colorN, 40);
    margin-right: 20px;
    font-weight: bold;
}