h1
{
    margin: 26px 22px;
}

nav
{
    display: flex;
    margin-left: 4%;
    height: 365px;
    @include tablette
    {
       height: 250px;
    }

    & #navigation
    {
        width: 100%;
        padding-left: 0%;
        margin: 0px 17px;
        @include tablette
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        & a
        {
            background-color: $colorS;
            margin: 0px 0px 27px 0px;
            display: flex;
            align-items: center;
            height: 86px;
            border-radius: 27px;
            color: black;
            font-weight: $weight;
            box-shadow: $shadow;
            @include tablette
            {
                margin: 0px 21px 0px 0px;
                width: 46%;
                padding-right: 18px;
            }

            & p 
            {
                @include chiffres;
            }

            & i
            {
                margin-right: 20px;
                color: darken($colorS, 50);
            }

            &:focus
            {
                background-color: lighten($colorP, 35);
                
                & i
                {
                    color: $colorP;
                }
            }

        }
    }
}