.img1

{
    width: 100%;
    transform: $positionIMG;    
    height: 278px;
}

.img2
{
    width: 100%;
    transform: translate(0px, -36%);
    height: 511px;
}

.img3
{
    width: 100%;
    transform: $positionIMG;
    height: 274px;
}

.img4
{
    width: 100%;
    transform: $positionIMG;
    height: 269px;
}