*
{
    box-sizing: border-box;
}

@font-face 
{
    font-family: "Roboto";
    src: url("polices/Roboto/Roboto-Regular") format("truetype");
    font-weight: normal;
}

body
{
    font-family: "Roboto", sans-serif;
    font-size: large;
    
    & h1

    {
        font-size: x-large;
        margin: 26px 22px;
    }

    ul
    {
        list-style-type: none;
    }

    a
    {
        text-decoration: none;
    }
}
