*
{
    box-sizing: border-box;
}

body
{
    font-family: "Roboto";
    font-size: large;
    
    & h1

    {
        font-family: "Roboto-medium";
        font-size: x-large;
        margin: 26px 22px;
    }

    & ul
    {
        list-style-type: none;
    }

    & a
    {
        text-decoration: none;
        color: black;
    }

    & h2
    {
        font-family: "Roboto-medium";
        font-size: 18px;
        margin: 5px 0px;
    }

    & i
    {
        font-size: larger;
    }
}
