*
{
    box-sizing: border-box;
}

@font-face 
{
    font-family: "Roboto";
    src: url("/polices/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face 
{
    font-family: "Shrikhand";
    src: url("/polices/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
    font-weight: normal;
}

body
{
    font-family: "Roboto", sans-serif;
    font-size: large;
    
    & h1

    {
        font-size: x-large;
        margin: 26px 22px;
    }

    & ul
    {
        list-style-type: none;
    }

    & a
    {
        text-decoration: none;
        color: black;
    }

    & h2
    {
        font-size: larger;
        margin: 5px 0px;
    }

    & i
    {
        font-size: larger;
    }
}
