header
{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 230px;

    & i 
    {
        font-size: xx-large;
    }

    & #logo
    {
        margin: 5% 15% 3%;
    }

    & .cadre_img:nth-child(3)
    {
        height: 363px; 
        flex-grow: 1;
        overflow: hidden;

        & .img

        {
            width: 100%;   
            height: 250px;
        }

        & .img_mod

        {
            width: 100%;
            height: 420px;
            transform: translateY(-82px);
        }
    }
}