body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient($deg-c, $colorP 0%, #FF79DA 100%);
    @include section
    {
      width: 985px;
    }
    @include pc
    {
        width: 100%;
    }

    & #bloc_page
    {
        width: 100%;
        @include pc
        {
            width: 1185px;
        }
    }
}

header
{
    background-color: white;

    & #back
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        & i 
        {
            font-size: xx-large;
            @include tablette
            {
                position: absolute;
                top: 4%;
                left: 6%;
            }
            @include pc
            {
                position: relative;
                left: -142px;
            }
        }

        & #logo
        {
            margin: 18px 15% 18px;
        }
    }

    & .cadre_img
    {
        width: 100%;
        overflow: hidden;
        height: 250px;

        & .img

        {
            width: 100%;   
            height: 238px;
            @include tablette
            {
                height: 497px;
                transform: translateY(-177px);
            }
        }

        & .img_mod

        {
            width: 100%;
            height: 420px;
            transform: translateY(-82px);
            @include tablette
            {
                height: 594px;
                transform: translateY(-146px);
            }
        }
    }
}