main
{
    background-color: $colorS;
    border-radius: 50px 47px 0px 0px;
    position: relative;
    padding-bottom: 60px;
    top: -99px;
    margin-bottom: -99px;
    @include tablette
    {
        border-radius: initial;
    }
    
    & .titreR
    {
        display: flex;
        align-items: center;
        font-size: x-large;
        justify-content: space-between;
        padding-top: 23px;    
        
        & h1
        {
            font-family: "Shrikhand", sans-serif;
            font-size: 30px;
            margin: 20px 25px 0px;
        }
            
        & .custom-checkbox
        {
            position: relative;
            width: 36px;
            margin: 0% 6% 3% 0%;
        } 
    }

    & section
    {
        & .titreS
        {
            margin: 30px 19px 0px;
            font-size: large;
            text-transform: uppercase;
            font-family: "Roboto-thin";
            font-weight: bold;
        }

        & .barre
        {
            background-color: $colorN;
            width: 48px;
            height: 4px;
            margin: 3px 20px 25px;
        }
    }

    & .button
    {
        display: flex;
        justify-content: center;
        margin-top: 60px;

        & input
        {
            @include button;

            &:hover
            {
                filter: brightness(1.25);
                box-shadow: 0px 8px 15px rgb(0% 0% 0% / 34%);
            }
        }
    }  
}