@keyframes progression
{
    from 
    {
        opacity: 0;
        transform: translateY(15px);
    }
        
    to 
    {
        opacity: 1;
    }
    
}



.prg1
{
    animation: progression 1s both ;
}

.prg2
{
    animation: progression 2s both;
}

.prg3
{
    animation: progression 3s both;
}

.prg4
{
    animation: progression 4s both;
}

.prg5
{
    animation: progression 5s both;
}

.prg6
{
    animation: progression 6s both;
}

.prg7
{
    animation: progression 7s both;
}

.prg8
{
    animation: progression 8s both;
}

.prg9
{
    animation: progression 9s both;
}

.prg10
{
    animation: progression 10s both;
}